.about-container {
    width: 100%;
    height: 100vh;
   
}

.web-description{
    align-self: center;
    width: 100%;
    height: 100%;
}

.card-container{
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
}



h1{
    color: whitesmoke;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    font-weight: bolder;
}

h3{
    color: rgb(136, 0, 113);
    margin-bottom: 3.5rem;
    margin-left: 1rem;
    line-height: 3rem;
}

p{
    font-size: 2rem;
    color: aliceblue;
    text-align:start;
    margin: 1rem;
    word-spacing: 0.4rem;
    line-height: 4rem;
}

