
.sound-container {
    width: 100%;
    height: 100vh;
   
}

.sound-description{
    align-self: center;
    width: 100%;
    margin-top: 4rem;
}

h1{
    color: whitesmoke;
    margin-bottom: 0.8rem;
    font-weight: bolder;
}

h2{

    color: rgb(136, 0, 113);
    margin-bottom: 3.5rem;
    line-height: 3rem;
}

h3{
    color: rgb(136, 0, 113);
    margin-bottom: 3.5rem;
    line-height: 3rem;
}

p{
    font-size: 1.2rem;
    color: aliceblue;
    text-align:start;
    margin: 1rem;
    word-spacing: 0.4rem;
    line-height: 4rem;
}

.img-code{
    width: 30rem;
    height: 20rem;
    border-radius: 5%;
    margin: 5rem;
}

.sound-footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}