.navbar{
    height: 18px;
    width: 100%;
    position: absolute;
   
}

a{
    text-decoration: none;
    font-size: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.nav-link{
    color: rgb(129, 0, 119);
}

.collapse{
    width: 100%;
}

.btn{
    color: rgb(197, 149, 241);
    background-color: #00000000;
    outline: none;
    border: none;
}

.btn:hover{
    color: rgb(158, 65, 245);
    background-color: #272b33c9;
}