.navbar{
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
    font-size: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.nav-link{
    color: rgb(0, 44, 165);
}

.collapse{
    width: 100%;
}
